# Python
__pycache__/
*.pyc

# venv
.venv/
venv/
w[1-9]*m[1-9]*/
w2team/
*/w2team/
*/venv/
*/.venv/

# exception
!W2/
!W2/M5/
!W2/M5/W2M5_team/
!W2/M5/W2M5_team/**
!W2/M5/W2M5_team/*.csv

# Jupyter
.ipynb_checkpoints/

# SQLite
*.db

# log
etl_project_log.txt

# csv
*.csv
